.container-signup{
    border:1px solid;
    background-color: white;
    margin:20px;
    padding: 20px;
    height: 550px;
    width: 350px;
    margin-left: 500px;
}

/* Responsive styles for smaller screens */

@media screen and (max-width:1024px) {
    .container-signup {
        margin-left: 0px;
    }
}